@model List<EntityLayer.Concrete.SubCategory>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>KATEGORİ</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Id</td>
            <td>@x.Name</td>
            <td>@x.Category.Name</td>
            <td>@Html.ActionLink("Sil", "DeleteSubCategory", new { x.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek istediğinize eminmisiniz?.')" })</td>
            <td><a href="/SubCategory/UpdateSubCategory/@x.Id" class="btn btn-success">Güncelle</a></td>


        </tr>

    }

</table>

<br />

<a href="/SubCategory/AddSubCategory/" class="btn btn-primary">Yeni Alt Kategori Ekle</a>


